{% extends 'registration/base_registration.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}
  <link rel="stylesheet" href="{% static 'base/css/register.css' %}">
{% endblock head%}
{% block title%}Crie uma conta{% endblock title%}

{% block content %}
    <div class="register">
        <div class="card">
            <div class="card-header">
                <h3 class="title-register gradient">Crie sua conta</h3>
                <p class="subtitle-register">Por favor, inscreva-se através do seguinte formulário:</p>
            </div>
            <div class="content-form">
                <form  class="form" method="post" action=".">
                    {{ user_form|crispy }}
                    {% csrf_token %}
                    <div class="terms-user">
                        <input id="checkbox-terms" type="checkbox">
                        <label for="terms">Eu concordo com os termos de usuário</label>
                    </div>
                    <button class="btn-submit" type="submit">Crie minha conta</button>   
                    <a id="login-link"  href="{% url 'account:login' %}">Login</a>
                </form>
            </div>
        </div>
    </div>    
{% endblock content %}