{% extends "base.html" %}
{% load static %}
    
{% block head %}
  <!-- <link rel="stylesheet" href="{% static 'shop/css/cart.css' %}"> -->
{% endblock head%}

{% block title %}
  Obrigado
{% endblock %}

{% block content %}
  <div class="create-order">
    <h1 class="gradient">Obrigado</h1>
    <p>Seu pedido foi concluído com êxito. Fazer
      <a href="{% url 'orders:new_order' %}">novo pedido</a>.
      <a href="{% url 'shop:product_list' %}">página inicial</a>
    </p>
  </div>
{% endblock %}