{% extends "base.html" %}
{% load static %}
    
{% block head %}
  <!-- <link rel="stylesheet" href="{% static 'shop/css/cart.css' %}"> -->
{% endblock head%}

{% block title %}
  Obrigado
{% endblock %}

{% block content %}
  <style>
    
    .create-order{
      display: flex;
      flex-direction: column;
      margin-top: 15%;
      /* background-image: url("/static/base/img/baloes.png"); */

      align-items: center;
    }
    h1 {
      font-size: 64px;
      font-weight: bolder;
    }
    .gradient {
      background: linear-gradient(to right, rgb(252, 74, 26), rgb(247, 183, 51));
      background-clip: text;
      -webkit-background-clip: text;
  
      /* Adicionado: */
      -webkit-text-fill-color: transparent;
    }

    .create-order p {
      font-size: 24px;
      color: #222;
    }

    a {
      text-decoration: none;
      color: rgb(252, 74, 26);
    }

  </style>
    <div class="create-order">
      <h1 class="gradient">Obrigado</h1>
      <p>Seu pedido foi concluído com êxito. Fazer
        <a href="{% url 'orders:new_order' %}">novo pedido</a>.
        <a href="{% url 'shop:product_list' %}">página inicial</a>
      </p>
    </div>
{% endblock %}