{% extends "base.html" %}

{% block title %}Change your password{% endblock %}

{% block content %}
  <style>
    #password-change{
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      padding: 30px;
      width: 50vw;
      background-color: #1f2937;
      margin-top: 5vh;
    }
    #title, #subtitle{
      text-align: center;
    }
    #password-change p, h1{
      font-size: 20px;
      /* text-align: center; */
      color: white;
    }
    .form-change-password{
      display: flex;
      flex-direction: column;
      font-family: 'Ubuntu', sans-serif; font-weight:normal;
      font-size: 20px;
      color: white;
      gap: 10px;
      margin: 0 10%;
    }
    #id_old_password,
    #id_new_password1,
    #id_new_password2{
      margin: 0 0 8px 0;
      padding: 0;
      background-color: transparent;
      border: none;
      font-size: large;
      margin: 0;
      width: 40vw ;
      border-bottom: 1px solid #f1f5f9;
      outline: none;
      color:#f1f5f9;
    }
    .form-change-password ul, li{
      display: block;
      font-size: 10px;
      font-weight: 300;
    }
    .form-change-password button{ 
      margin-top: 30px;
    }

  </style>
  <div id="password-change">
    <h1 id="title" class="gradient">Mude sua senha</h1>
    <p id="subtitle">Utilize o formulário abaixo para alterar sua senha.</p>
    <form class="form-change-password" method="post">
      {{ form }}
      {% csrf_token %}
      <button class="btn-submit" type="submit">Alterar senha</button>
    </form>
  </div>
{% endblock %}
