{% extends 'base_dashboard.html' %}
{% load thumbnail %}
{% load core_tags %}
{% load static %}

{% block head %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.13.3/datatables.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'core/css/main.css' %}">
{% endblock head %}

{% block content %}
<div id="sidebar">
    <div id="profile">
        {% if user.profile.photo %}
            <div id="profile-photo">
                <img  src="{% thumbnail user.profile.photo 80x80 %}" alt="profile image">
            </div>
        {% else %}    
            <i class="fas fa-user"></i>
        {% endif %}
        <div class="profile-name">
            <h2 class="pry-title">{{ user.first_name }}</h2>
        </div>
    </div>
    <div class="sidebar_main-sections">
        <div class="section-division">
            <h2 class="sec-title">Categorias</h2>
        </div>
        <nav id="menu-sidebar">
            <li>
                <a href="#">Principal</a>
            </li>
            <li>
                <a href="#">Menu do Dia</a> 
            </li>
            <li>
                <a href="">Produtos</a> 
            </li>
            <li> 
                <a href="">Ordens</a> 
            </li>
            <li> 
                <a href="">Contas</a> 
            </li>
            <li> 
                <a href="">Configurações</a>
            </li>
        </nav>
    </div>
</div>
<div id="main">
    <div class="main-info">
        <div class="card-info">
            <span id="fa-utensils" class="div-icon">
                <i class="fas fa-utensils"></i>
            </span>
            <div class="card_info-text">
                <p id="card_info-title">Total de Pedidos</p>
                <p class="number-text">{% total_order %}</p>
            </div>
        </div>
        <div class="card-info">
            <span id="fa-calendar-day" class="div-icon">
                <i class="fas fa-calendar-day"></i>
            </span>
            <div class="card_info-text">
                <p id="card_info-title">Pedidos hoje</p>
                <p class="number-text">{% total_order_today %}</p>
            </div>
        </div>
        <div class="card-info">
            <span id="fa-chart-line" class="div-icon">
                <i class="fas fa-chart-line"></i>
            </span>
            <div class="card_info-text">
                <p id="card_info-title">media 7 dias</p>
                <p class="number-text">{% total_mean_order %}</p>
            </div>
        </div>
    </div>
    <!-- <div class="main_sec-graph">
        <div class="card-graph"></div>
        <div class="card-graph"></div>
    </div> -->
    <div class="main_pry-graph">
        <div class="card_pry-graph">
            <div class="card_pry-text">
                <h2 class="sec-title" style="color: white;">Pedidos</h2>
                <a id="btn-download" title="Relatório" href="{% url "orders:action_print_report_orders" %}">
                    <i id="icon-download" class="far fa-file-pdf"></i>
                </a>

                <a id="btn-download" title="im" href="{% url "core:extract_productd_image" %}">
                    <i id="icon-download" class="far fa-file-pdf"></i>
                </a>

            </div>
            <table id="tabela-listar">
                <thead>
                    <tr>
                        <th>Cliente</th>
                        <th>Data</th>
                        <th>Produtos</th>
                        <th>Observação</th>
                    </tr>
                </thead>
                
                <tbody>
                    {% for order in orders %}
                    <tr id="data">
                        <td>{{ order.client }}</td>
                        <td>{{ order.created }}</td>
                        <td>{{ order.get_product_for_order|truncatechars:50 }}</td>
                        <td>{{ order.note }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.13.3/datatables.min.js"></script>
<script>
    $(document).ready(function(){
        $("#tabela-listar").DataTable({
            "order": [[ 1, "dsc" ]],
            lengthMenu: [
                [5, 10, 15, -1],
                [5, 10, 15, 'TODOS'],
            ],
            searching: false, // desabilita a funcionalidade de pesquisa
            "oLanguage": {
                "sProcessing":   "Processando...",
                "sLengthMenu":   "_MENU_ Registros",
                "sZeroRecords":  "Não foram encontrados resultados",
                "sInfo":         "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                "sInfoEmpty":    "Mostrando de 0 até 0 de 0 registros",
                "sInfoFiltered": "",
                "sInfoPostFix":  "",
                "sSearch":       "Buscar:",
                "sUrl":          "",
                "oPaginate": {
                    "sFirst":    "Primeiro",
                    "sPrevious": "Anterior",
                    "sNext":     "Seguinte",
                    "sLast":     "Último"
                }
            }
        });
    });
</script>

{% endblock content %}