body {
    background-image: none;
    background-color: #e5e7eb;
}

a {
    text-decoration:none;
    color:#252424;;
}

a:hover {
    color:#ff5e00;
}

a.button, input[type="submit"] {
    color:#fff;
    background:#ff5e00;
    border-radius:4px;
    padding:10px 20px;
    font-size:14px;
    border:0;
}

a.button.light {
    color:#666;
    background:#fff;
}
{% comment %} Header {% endcomment %}
.shop-content {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    background-color: #fb923c;
    padding: .5em 1em .5em 1em;   
    border-bottom: 4px solid #9a3412;
}
#header {
    display:flex;
    flex-direction: row;
    align-items: center;
}
#logo-company{
    width:55px;
}
#logo-text {
    font-size:24px;
    margin-top: 5px;
    color: #efefef;
    font-weight: 900;
}
.cart a {
    text-color: #efefef;
}
{% comment %} Content {% endcomment %}
#content {
    padding:0 100px;
    overflow:hidden;
}

#sidebar {
    width:220px;
    padding:15px 20px 15px 1em;
    float:left;
    background-color: #fff;
    border-radius: 4px;
    margin: 10px 10px 0 0;
}

#sidebar ul{
    margin:0;
    padding:0;
}

#sidebar ul li {
    margin:0;
    list-style:none;
    padding:10px 14px;
}

#sidebar ul li a {
    display:block;
}

#sidebar ul li.selected {
    background:#ff5e00;
    border-radius:4px;
}

#sidebar ul li.selected a {
    color:#fff;
}

#main {
    float:left;
    width: 75.8%;
    overflow:hidden;
    background-color: #fff;
    border-radius: 4px;
    margin: 10px -220px 0 0;
    padding: 0 0 0 1em;
}

.product-list .item {
    width:31%;
    padding:10px 20px 10px 0;
    float:left;
    text-align:center;
    line-height:1.2;
}

.product-list .item img {
    width:100%;
    margin-bottom:8px;
}

.product-detail {
    text-align:justify;
}

.product-detail .price {
    color:#333;
    font-size:28px;
    font-weight:bold;
}

.product-detail img {
    width:40%;
    float:left;
    padding:0 20px 20px 0;
}

.product-detail h1 {
    margin-bottom:0;
}

.product-detail h2 {
    margin-top:10px;
}

/* Form shop list */
#id_quantity {
    
}

.order-form {
    float:left;
}

.order-info {
    float:right;
    width:300px;
    background:#efefef;
    padding:10px 20px;
    color:#333;
    border-bottom:4px solid #5993bb;
}

.order-info h3 {
    color:#5993bb;
}

.order-info ul li {
    margin:0;
    padding:0;
    font-size:14px;
}

.order-info p {
    font-weight:bold;
    float:right;
}

.order-info span {
    float:right;
}

.neg {
    color:#dc1616;
}

.languages {
   float:right;
   padding-top:4px;
   font-size:14px;
}

.languages ul {
    list-style:none;
    margin:0;
    padding:0;
    float:left;
}

.languages ul li {
    float:left;
    margin:0 0 0 10px;
    font-size:14px;
}

.languages p {
    float:left;
    margin:0;
}

.recommendations {
    clear:both;
}

.recommendations div {
    float:left;
}

.recommendations img {
    width:200px
}

.recommendations p {
    clear:both;
}

.recommendations.cart {
    width:60%;
    float:left;
    overflow:auto;
}

.recommendations.cart h3 {
    margin-top:0;
}

.recommendations.cart .item {
    margin-right:10px;
}

.recommendations.cart img {
    width:120px;
}

/* braintree hosted fields */
form div.field {
    font-size:13px;
    color:#666;
    width:300px;
    height:22px;
    margin-bottom:10px;
    padding:6px 12px;
    border:0;
    background:#efefef;
    color:#666;
    border-radius:4px;
}
