{% extends 'base.html' %}
{% load static %}

{% block title %}
Cardapio
{% endblock title %}

{% block content %}
<style>
    .food-menu{
        display: flex;
        margin: 0 auto;
        width: 70vw;
        height: 90vh;
        background-color: rgba(19, 19, 19, 0.3);
    }
    .options{
        display: flex;
        flex-direction: column;
    }
    .options-title{
        background-color: #a13854;
        border-radius: 6px;
        text-align: center;
        margin: 10px;
        
    }
    .options-title h3{
        color: white;
        font-size: medium;
        font-weight: bold;
        margin: 5px;
    }   
    .card{
        display: flex;
        flex-direction: row;
        background-color: #454d6b;
        margin: 10px 15px;
        border-radius: 6px;

    }
</style>
<div class="food-menu">
    <div class="options">
        <div class="options-title">
            <h3>Opções:</h3>
        </div>
        
        <div class="card">
            <div class="card-header">

            </div>
            <div class="card-body">
                <img src="{% static 'img/food.png' %}" alt="">
                <h3>Some Text</h3>
                <input type="checkbox">
            </div>
        </div>
    </div>
    <div class="accompaniment">

    </div>
</div>
{% endblock content %}