{% extends 'base.html' %}
{% load static %}

{% block title %}Quentinhas Da Lu{% endblock %}

{% block content %}
    <div class="header">
        <a href="#" id="logo">
            <img id="logo-img" src="{% static 'base/img/logo-quentinhas-da-lu.png' %}" 
            alt=""
            >
            <span id="logo-text">Quentinhas da Lu</span> 
        </a>
		<!-- Agrupa links de navegação no site. -->
		<nav id="menu">
			<a href="#" id="menu-cart">
                {% with total_items=cart|length %}
                    {% if total_items > 0 %}
                        <a href="{% url "cart:cart_detail" %}">
                            <i class="fas fa-shopping-cart" id="shopping-cart"></i>
                            <span id="qtde-itens">{{ total_items }}</span>
                        </a>                        
                    {% endif %}
                {% endwith %}   
            </a>
            <div class="dropdown">
                <a href="#" id="menu-dashboard">
                    <i class="fas fa-user"></i>
                </a>
                <div class="dropdown-content">
                    <a href="{% url 'account:dashboard' %}">Dashboard</a>
                    <a href="{% url 'account:logout' %}">Logout</a>
                </div>
            </div>			
		</nav>
    </div>
    <div class="main">
        {% block shop %}
        {% endblock shop%}
    </div>
    <script type="text/javascript" src="{% static 'base/js/script.js' %}"></script>
    
{% endblock %}