{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}

{% block title %}Quentinhas Da Lu{% endblock %}

{% block content %}
    <div class="header">
        <a href="#" id="logo">
            <img id="logo-img" src="{% static 'base/img/logo-quentinhas-da-lu.png' %}" 
            alt=""
            >
            <span id="logo-text">Quentinhas da Lu</span> 
        </a>
		<!-- Agrupa links de navegação no site. -->
		<nav id="menu">
            <div class="dropdown">
                <a href="#" id="menu-dashboard">
                    <p>Olá, {{ user }}</p>
                    {% if user.profile.photo %}
                        <div id="profile-photo">
                            <img id="profile-img" src="{% thumbnail user.profile.photo 30x30 %}" alt="">
                        </div>
                    {% else %}    
                        <i class="fas fa-user"></i>
                    {% endif %}
                </a>
                <div class="dropdown-content">
                    {% if user.is_staff %}
                    <a href="{% url 'core:report_day' %}">Administração</a>
                    {% endif %}
                    <a href="{% url 'account:edit' %}">Editar Perfil</a>
                    <a href="{% url 'account:password_change' %}">Redefinir Senha</a>
                    <a href="{% url 'account:logout' %}">Logout</a>
                </div>
            </div>	
            <a href="#" id="menu-cart">
                {% with total_items=cart|length %}
                    {% if total_items > 0 %}
                        <a href="{% url "cart:cart_detail" %}">
                            <i class="fas fa-shopping-cart" id="shopping-cart"></i>
                            <span id="qtde-itens">{{ total_items }}</span>
                        </a>                        
                    {% endif %}
                {% endwith %}   
            </a>		
		</nav>
    </div>
    <div class="main">
        {% block shop %}
        {% endblock shop%}
    </div>
    
    <script type="text/javascript" src="{% static 'base/js/script.js' %}"></script>
    
{% endblock %}