{% extends "shop/base_shop.html" %}
{% load static %}


{% block title %}
  {% if category %}{{ category.name }}{% else %}Produtos{% endif %}
{% endblock %}

{% block shop %}
  <div id="sidebar">
    <h3 id="sidebar-title">Categorias</h3>
    <nav id="nav-menu-sidebar">
      <ul>
        <li {% if not category %}class="selected"{% endif %}>
          <a href="{% url "shop:product_list" %}">Todas</a>
        </li>
        {% for c in categories %}
          <li {% if category.slug == c.slug %}class="selected"{% endif %}>
            <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
  <div id="main-shop" class="product-list">
    <div class="product-menu">
      <h1 id="product-menu-title">{% if category %}{{ category.name }}{% else %}Produtos{% endif %}</h1>
      <button id="openMenu">&#9776;</button>
    </div>
    <div class="item">
      {% for product in products %}
        <div class="product-cart">
            <a href="{{ product.get_absolute_url }}">
            <img id="product-img" src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
          </a>
          <a class="product-name" href="{{ product.get_absolute_url }}">{{ product.name }}</a>
          <form class="form-shop" action="{% url "cart:cart_add_list" product.id %}" method="post">
            {{ cart_product_form }}
            {% csrf_token %}
            <!-- <a class="add-product" onclick="addToCart('{{ product.slug }}')">
              <i class="fas fa-plus btn-add-cart"></i>
            </a> -->
            <input id="product-cart-add" type="submit" value="Adicionar">
          </form>
          <!-- ${{ product.price }} -->
        </div>
      {% endfor %}
    </div>
  </div>
  <script>
    function addToCart(slug){
      console.log(slug)
      }
  </script>

{% endblock shop %}