@import url(//fonts.googleapis.com/css?family=Ubuntu);

body {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100vw;
    justify-content: center;
    margin:0;
    padding:0;
    background: #f99b0e;
    {% comment %} background-image: url('/static/base/img/bg-primary.jpg'); {% endcomment %}
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
}

h1, h2, h3, h4, h5 , h6, a, span {
    font-family: 'Ubuntu', sans-serif; font-weight:normal;
}

#content {
    display: flex;
    flex-direction: column;
    max-width: 90vw;
    width: 100%;
    height: 100%;
    background-color: #e5e7eb;
}
{% comment %} Navbar {% endcomment %}
.header {
    display: flex;
    flex: 1 1 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 0 30px; 
    background-color: #151F30;
    border-bottom: 4px solid #FF7A48;
}

.header #logo {
    display: flex;
    flex: 0 1 200px;
	align-items: center;
    text-decoration: none;
}

.header a {
    color: white;
}

#logo-img{
    width: 60px;
    height: auto;
}

#logo-text{
    margin: 0 0 0 10px;
    font-size:16px;
    font-weight: 900;
}

#menu {
    display:flex:
    align-items: center;
}

#menu a{
    text-decoration:none;
}
#qtde-itens{
    margin-right: 10px;
}



{% comment %} Main Content {% endcomment %}
.main {
    display: flex;
    margin: 5px;
}

#sidebar {
    display: flex;
    flex: 1 1 200px;
    flex-direction: column;
    padding: 5px;
    margin: 0 5px 0 0;
    {% comment %} margin-rigth: 20px; {% endcomment %}
}

#sidebar-title {
    font-weight: 600;
    background: #d1d5db;
    padding: 10px 20px;
}

#sidebar ul {
    list-style: none;
}

#sidebar li{
    margin-bottom: 1em;
}

#sidebar a{
    text-decoration:none;
    font-size: 18px;
    color: #4b5563;
}

#sidebar ul li.selected {
    background:#FF7A48;
    padding: 5px 10px;
    border-radius:4px;
}

#sidebar ul li.selected a {
    color:#fff;
}

#main-shop {
    display: flex;
    flex: 20 1 500px;
    flex-direction: row;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0 0 50px 15px;
}

.item {
    display: flex;
    flex-wrap: wrap;
    {% comment %} justify-content: space-between; {% endcomment %}
}

.product-cart {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px 30px 0 0;
    max-width: 220px;
    max-height: 280px;
    width: 100%;
    height:auto;
    background: white;
    padding: 10px;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

#product-img {
    width: 220px;
    height: 220px;
}

.product-name {
    font-weight: 900;
    text-decoration: none;
    margin-top: 5px;
    color: #4b5563;
}

.form-shop{
    margin-top:10px;
}

.form-shop label {
    display: none;
}

#id_quantity{
    margin: 0 15px;
    {% comment %} border: none;
    background-color: transparent; {% endcomment %}
}

#product-cart-add{
    background-color: #FF7A48;
    border: none;
    padding: 5px 10px;
    color: white;
    font-weight: 600;
    border-radius: 6px;
}
@media(max-width: 1080px){
    .product-cart{
        max-width: 200px;
    }   
    #product-img {
        width: 200px;
        height: 200px;
    }    
}

@media(max-width: 768px){
    #content {
        max-width: 100vw;
        max-height: 100vh;
        width: 100%;
        height: 100%;
    }
    
    .header {
        padding: 0 10px 0 10px;
        background-color: #151F30;
        border-bottom: 4px solid #FF7A48;
    }
    #product-img {
        width: 200px;
        height: 200px;
    }
    
}

{% comment %} Width 360px {% endcomment %}
@media(max-width: 360px){
    #content {
        max-width: 100vw;
        max-height: 100vh;
        width: 100%;
        height: 100%;
    }
    
    .header {
        padding: 0 10px 0 10px;
        background-color: #151F30;
        border-bottom: 4px solid #FF7A48;
    }
    #logo-text {
        display: none;
    }
}