@import url(//fonts.googleapis.com/css?family=Ubuntu);

body {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100vw;
    justify-content: center;
    margin:0;
    padding:0;
    background: #e5e7eb;
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
}

h1, h2, h3, h4, h5 , h6, a, span {
    font-family: 'Ubuntu', sans-serif; font-weight:normal;
}

#content {
    display: flex;
    flex-direction: column;
    max-width: 90vw;
    width: 100%;
    height: 100%;
    background-color: #e5e7eb;
}
.header {
    display: flex;
    flex: 1 1 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 0 30px; 
    background-color: #151F30;
    border-bottom: 4px solid #F24405;
}

.header #logo {
    display: flex;
    flex: 0 1 200px;
	align-items: center;
    text-decoration: none;
}

.header a {
    color: white;
}

#logo-img{
    width: 60px;
    height: auto;
}

#logo-text{
    margin: 0 0 0 10px;
    font-size:16px;
    font-weight: 900;
}

#menu {
    display:flex;
    position: relative;
    flex-direction: row;
    align-items: center;
}

#menu a{
    text-decoration:none;
}

#menu p{
    color: white;
    margin-right: 10px;
}
#menu-dashboard {
    display: flex;
    align-items: center;
}

#profile-photo{
    width:35px;
    height:35px;
    background: #6b7280;
    border-radius:30px;
}
#profile-photo img{
    margin: 3.5px 0 0 3.5px;
}
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #e5e7eb;
}

.dropdown:hover .dropdown-content {
    display: block;
    float:right;
    
}
  
#qtde-itens{
    margin-right: 10px;
}

#menu-cart{
    margin-left: 10px;
}
 /* Main Content */
.main {
    display: flex;
    margin-top: 15px;
}

#sidebar {
    display: flex;
    flex: 1 1 200px;
    flex-direction: column;
    background-color: white;
    border-radius: 6px;
    height: 250px;
    padding: 5px;
    margin: 0 5px 0 0;
}

#sidebar-title {
    font-weight: 600;
    background: #e5e7eb;
    padding: 10px 20px;
    color: #1f2937;
}

#sidebar ul {
    list-style: none;
}

#sidebar li{
    margin-bottom: 1em;
}

#sidebar a{
    text-decoration:none;
    font-size: 18px;
    color: #4b5563;
}

#sidebar ul li.selected {
    background:#F24405;
    padding: 5px 10px;
    border-radius:4px;
}

#sidebar ul li.selected a {
    color:#fff;
}

.product-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#openMenu, #closeMenu{
    margin-right: 3em;
    cursor: pointer;
    display: none;
    background: none;
    border: none;
    font-size: 30px;
}


#main-shop {
    display: flex;
    flex: 20 1 500px;
    flex-direction: row;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0 0 50px 10px;
    margin-left: 15px;
    background-color: white;
    border-radius: 6px;
}

#product-menu-title {
    font-weight: 900;
    font-size: 32px;
    padding: 10px 20px;
    color: #1f2937;

}

.item {
    display: flex;
    flex-wrap: wrap;
}

.product-cart {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px 0 20px 25px;
    max-width: 220px;
    max-height: 280px;
    width: 100%;
    height:auto;
    background: white;
    padding: 10px;
    /* border: 1px solid #d1d5db; */
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#product-img {
    width: 220px;
    height: 220px;
}

.product-name {
    font-weight: 900;
    text-decoration: none;
    margin-top: 5px;
    color: #4b5563;
}

.form-shop{
    margin-top:10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.form-shop label {
    display: none;
}

#id_quantity{
    {% comment %} border: transparent; {% endcomment %}
    color: #F24405;
    font-size: large;
}

.btn-add-cart{
    color: white;
    background-color:#F24405;
    border-radius: 30px;
    padding: 5px;
    
}

#product-cart-add{
    background-color: #F24405;
    border: none;
    padding: 5px 10px;
    color: white;
    font-weight: 600;
    border-radius: 6px;
}
{% comment %} Title Gradient {% endcomment %}
.gradient {
    background: linear-gradient(to right, rgb(252, 74, 26), rgb(247, 183, 51));
    background-clip: text;
    -webkit-background-clip: text;
  
    /* Adicionado: */
    -webkit-text-fill-color: transparent;
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

.btn-submit {
    margin: 0 auto;
    text-align: center;
    color: #F2f2f2;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #f24f13;
    width: 60%;
    height: 100%;
    border: none;
    height: 2.5em;
}
  
.btn-submit:hover {
    background: transparent;
    border: 3px solid #F24405;
}

@media(max-width: 870px){
    #content {
        max-width: 100vw;
        max-height: 100vh;
        width: 100%;
        height: 100%;
    }
    #menu-dashboard{
        margin-right:15px;
    }
    #sidebar {
        position: fixed;
        flex-direction: column;
        justify-content: center;
        display: none;
        opacity: 0;
        transition: 0.3;
    }
    #main-shop{
        padding: 0;
    }
    .product-cart{
        margin: 0 30px 30px 35px;
        max-width: 280px;
        max-height: 340px;
        width: 100%;
        height: auto;
    }
    #product-img {
        width: 240px;
        height: 240px;
    }
    #openMenu, #closeMenu {
		display: block;
        margin: 0;
	}  

}

@media(max-width: 768px){
    #content {
        max-width: 100vw;
        max-height: 100vh;
        width: 100%;
        height: 100%;
    }
    
    .header {
        padding: 0 10px 0 10px;
        background-color: #151F30;
        border-bottom: 4px solid #FF7A48;
    }
    #product-img {
        width: 200px;
        height: 200px;
    }
    #openMenu, #closeMenu {
		display: block;
	}    
}


@media(max-width: 428px){
    #content {
        max-width: 100vw;
        max-height: 100vh;
        width: 100%;
        height: 100%;
    }
    #menu-dashboard{
        margin-right:15px;
    }
    .header {
        padding: 0 10px 0 10px;
        background-color: #151F30;
        border-bottom: 4px solid #F24405;
    }
    #logo-text {
        display: none;
    }
    .item {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .product-cart{
        margin: 0 30px 30px 40px;
        max-width: 90vw;
        max-height: 60vh;
        width: 100%;
        height: auto;
    }
    #product-img {
        width: inherit;
        height: inherit;
    }
}