/* Config color */
.tx-pricolor {
    color:white;
}

.bg-blue-dark {
    background-color:#151F30;
}

html, body {
    height: 100%;
    margin: 0;
}
  
/* Header */
.header {
    display: flex;
    flex: 1 1 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 0 30px; 
    background-color: #151F30;
    border-bottom: 4px solid #F24405;
}

.header #logo {
    display: flex;
    flex: 0 1 200px;
	align-items: center;
    text-decoration: none;
}

.header a {
    color: white;
    text-decoration: none;
}

#logo-img{
    width: 60px;
    height: auto;
}

#menu-dashboard {
    display: flex;
    align-items: center;
}
#menu-dashboard p{
    margin: 1em 1em;
}

#profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 30px;
    
}

#profile-photo img {
    width:35px;
    height:35px;
    border-radius:35px;
}


/* Dropdown*/
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #e5e7eb;
}

.dropdown:hover .dropdown-content {
    display: block;
    float:right;  
}

/* Content */
main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height:100%;
    /* margem-bottom: 1em; */
}
section {
    margin: 0 4em;
    background-color: white;
    border-radius: 6px;
}
.acompanhamento{
    background-color: #e5e7eb;
}

.product-section {
    padding: 15px;
}

.pri-title {
    color: #e5e7eb;
    background-color: #151F30;
    width: 25%;
    padding: 10px;
    font-size: 26px;
}

.product-select {
    margin: .5em;
    font-size: 18px;
    font-weight: 600;
    align-items: center;
}

.product-select input {
    width: 20px;
    height: 20px;
    margin-right: .5em;
}

/* Confirm order */
#confirm-section{
    flex-direction: column;
    padding: 15px 15px 15px 15px;
}
.observacao {
    margin: .5em;
    display: flex;
    align-items: flex-start;
    font-size: 18px;
    font-weight: 600;
}
.observacao label {
    width: 6vw;
}

.client {
    margin: .5em .5em 2em .5em;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
}
.client label{
    width: 6vw; 
}
#select-client{
    width: 420px;
    height: 35px;
}

#confirm-order {
    margin: 0 auto;
    color:white;
    font-family:Helvetica, sans-serif;
    font-weight:bold;
    font-size:20px;
    text-align: center;
    text-decoration:none;
    background-color:#FFA12B;
    display:block;
    position:relative;
    padding:20px 40px;
    
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-shadow: 0px 1px 0px #000;
    filter: dropshadow(color=#000, offx=0px, offy=1px);
    
    -webkit-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
    -moz-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
    box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#confirm-order:active{
    top:10px;
    background-color:#F78900;
  
    -webkit-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
    -moz-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3pxpx 0 #915100;
    box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
}
#confirm-order:after{
    content:"";
    height:100%;
    width:100%;
    padding:4px;
    position: absolute;
    bottom:-15px;
    left:-4px;
    z-index:-1;
    background-color:#2B1800;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.coluna {
    float: left;
    width: 33.33%; /* Define a largura da coluna, ajuste conforme necessário */
    box-sizing: border-box;
    padding: 0 15px; /* Adicione margem interna se necessário */
}

/* Limpa o float */
.linha::after {
    content: "";
    display: table;
    clear: both;
}

/* Footer */
footer{
    /* display: flex; */
    background-color: #151F30;  
    height: 5em;
    /* margin-top: 2em; */
    border-top: 5px solid #F24405;
}
footer p{
    /* margin-top: 1.5em; */
    color: white;
    font-size: 22px;
}
footer a{
    color: #F78900;
}